
.form-container {
  display: grid;
  grid-template-rows: auto 2fr auto;
  background-color:#ffffff;
  border-radius: 50px;
  margin: 1% 20%;
  place-items: center;
}

@media (max-width: 640px) {
 
  .form-container {

    margin: -4%;
   
  }
}